.lightThemeLetras {
    color: black;
    text-decoration: none;

}

.darkBackgroundListOrder {

    border: 1px solid #FAF0D7;
    border-radius: 15px;
    background-color: #FAF0D7;
    color: #1F1F1F;
}

.lightBackgroundListOrder {

    border: 1px solid #FAF0D7;
    border-radius: 15px;
    color: #FAF0D7;
    background-color: #1F1F1F;
}

.darkThemeContainer {
    border: 1px solid #FAF0D7;

    width: 21vw;
}

.darkThemeContainer img {
    border: 1px solid #FAF0D7;
    width: 21vw;
}

.lightThemeContainer img {
    border: 1px solid #FAF0D7;
    width: 21vw;
}

.lightThemeContainer {
    border: 1px solid black;
    width: 21vw;
}

.darkThemeLetras {
    color: #FAF0D7;
    text-decoration: none;
}

.what {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 25vw));
    }

    .list-Container {
        display: flex;
        justify-content: center;
    }

    .main-product {
        margin: 1vh;
        padding: 1vh;
        height: 500px;
        max-width: 25vw;
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        gap: 1rem;

        border-radius: 15px;
    }


    .main-product img {
        padding: 1vh;
        max-width: 250px;
        display: flex;
        justify-content: flex-end;
        justify-self: center;
    }

    .main-product h2 {
        text-decoration: none;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-product:hover {
        transform: scale(1.1, 1.1);
    }
}

@media screen and (min-width: 1px) and (max-width: 991px) {
    .product-grid {
        display: grid;
        max-width: 100vw;
        grid-template-rows: repeat(auto-fit, minmax(20vw, 1rem));
        border: 1px solid black;
        gap: 2rem;
        padding-top: 15px;
    }

    .what {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* height: 100000px; */
    }

    .main-product {
        place-self: center;
        max-height: 206px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-self: center;
        justify-content: space-evenly;
        gap: 1rem;
        border: 1px solid black;
        border-radius: 15px;
    }

    .main-product:hover {
        transform: scale(1.1, 1.1);
    }

    .main-product img {
        display: flex;
        justify-content: flex-start;
        justify-self: flex-start;
        max-width: 15vw;
        max-height: 15vh;
    }

    .main-product h2 {
        justify-content: center;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}