.lightBackgroundLink {
    text-decoration: none;
    padding-left: 50px;
    color: black;
    margin: 0px 7px 0px 7px
}

.darkBackgroundLink {
    text-decoration: none;
    color: #FAF0D7;
    padding-left: 50px;
    margin: 0px 7px 0px 7px
}

.lightBackgroundLink:hover {
    color: aliceblue;
    transform: scale(1.5, 1.5);
}

.darkBackgroundLink:hover {
    color: aliceblue;
    transform: scale(1.5, 1.5);
}

.darkBackgroundNavBar {
    background: linear-gradient(to right, #086972, #1A132F)
}

.lightBackgroundNavbar {
    background: linear-gradient(to right, #086972, #FAF0D7)
}

.darkBackgroundBrand .navbar-brand {
    color: #FAF0D7;
    text-decoration: none;
}

.lightBackgroundBrand {
    color: black;
    text-decoration: none;
}