.darkThemeBuyButton {
    color: #1F1F1F;
    background-color: #FAF0D7;
}

.buyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FAF0D7;
    border-radius: 30px;
    padding: 50px;
    margin: 50px;
}

.lightThemeBuyButton {
    background-color: #1F1F1F;
    color: #FAF0D7;
}